*{
    text-decoration: none;
}

.page-footer{
    display: flex;
    padding-top:250px;
    padding-left: 20px;
    font-size: 20px;
    gap: 20px;
   /* text-align: center; */
   

    font-family: "Big Shoulders Stencil", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#icon{
    
  display: flex; 
  padding-left: 1300px;
  gap: 20px;
  

}

.a:hover{
    color: rgb(128, 121, 122);
}

.x:hover{
    font-weight: bold;
    text-transform: lowercase;
    background-color: rgb(7, 7, 7);
    color: rgb(233, 21, 21);
}


.y:hover{

}

.heading{
    text-align: center;
    font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#essay{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}